@import 'vars'

.jg-row
	box-sizing border-box
	position relative
	clear both
	display flex
	flex-direction row
	width $jg_row_max_width
	min-height $jg_row_min_height
	margin 0 auto
	justify-content space-between
	flex-wrap wrap
	@media $media_bp_l
		width 100%
		padding 0 $jg_row_gutter
	&:last-child
		margin-bottom $jg_row_gutter
	&.jg-row-fw
		width 100%
	> .jg-row
		margin 0 auto
		padding 0

.jg-col
	position relative
	float left
	overflow hidden
	display flex
	flex-direction column
	align-content center
	align-items center
	justify-content space-around
	&.jg-col-dynamic
		flex 1
		margin 0 $jg_row_gutter 0 $jg_row_gutter
		&:last-child
			margin $jg_row_gutter 0 0 $jg_row_gutter
	
for $rowColLength in ($jg_row_col_lenght_min..$jg_row_col_lenght_max) 
	.jg-row-{$rowColLength}
		for $colLength in (1..$rowColLength)
			$colSize = 100% / $rowColLength * $colLength
			$gutterSize = (($rowColLength / $colLength - 1) * $jg_col_gutter) / ($rowColLength / $colLength)
			for $size in $jg_col_bp_list
				.jg-col-{$size}-{$colLength}
					if $size == 's'
						@media $media_bp_s
							width "calc(%s - %s)" % ($colSize $gutterSize)
					if $size == 'm'
						@media $media_bp_m
							width "calc(%s - %s)" % ($colSize $gutterSize)
					if $size == 'l'
						width "calc(%s - %s)" % ($colSize $gutterSize)
						@media $media_bp_l
							width "calc(%s - %s)" % ($colSize $gutterSize)

					&.jg-col-square
						$colSize = 100vw / $rowColLength * $colLength
						$gutterSize = (($rowColLength / $colLength - 1) * $jg_col_gutter) / ($rowColLength / $colLength)
						if $size == 's'
							@media $media_bp_s
								$gutterSize = $gutterSize * 4
								width "calc(%s - %s)" % ($colSize $gutterSize)
								height @width
						if $size == 'm'
							@media $media_bp_m
								$gutterSize = $gutterSize * 3
								width "calc(%s - %s)" % ($colSize $gutterSize)
								height @width
						if $size == 'l'
							@media $media_bp_l
								$gutterSize = $gutterSize * 2
								width "calc(%s - %s)" % ($colSize $gutterSize)
								height @width
						if $size == 'xl'
							$gutterSiz
							$colSize = (($jg_row_max_width / $rowColLength) * $colLength)
							@media $media_bp_xl
								width "calc(%s - %s)" % ($colSize $gutterSize) 
								height @width
	


