html
	head
		title #{title}
		link(rel="stylesheet", href="#{cssSrc}")
		meqta(content="viewport" value="width=device-width, user-scalable=no, initial-scale=1.0")
	body
		.jg-row.jg-row-5
			.jg-col.jg-col-static
				img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150", alt="")
			.jg-col.jg-col-dynamic
				| funk
		.jg-row.jg-row-2
			.jg-col.jg-col-l-1.jg-col-m-1.jg-col-s-2
				| funk
			.jg-col.jg-col-l-1.jg-col-m-1.jg-col-s-2
				| funk
		.jg-row.jg-row-4
			.jg-col.jg-col-l-1
				| funk
			.jg-col.jg-col-l-3
				| funk
		.jg-row.jg-row-12
			.jg-col.jg-col-l-3.jg-col-m-6.jg-col-s-12
				| funk
			.jg-col.jg-col-l-3.jg-col-m-6.jg-col-s-12
				| funk
			.jg-col.jg-col-l-3.jg-col-m-6.jg-col-s-12
				| funk
			.jg-col.jg-col-l-3.jg-col-m-6.jg-col-s-12
				| funk
		.jg-row.jg-row-12.jg-row-square
			.jg-col.jg-col-xl-3.jg-col-l-3.jg-col-m-6.jg-col-s-12.jg-col-square
				| funk
			.jg-col.jg-col-xl-3.jg-col-l-3.jg-col-m-6.jg-col-s-12.jg-col-square
				| funk
			.jg-col.jg-col-xl-3.jg-col-l-3.jg-col-m-6.jg-col-s-12.jg-col-square
				| funk
			.jg-col.jg-col-xl-3.jg-col-l-3.jg-col-m-6.jg-col-s-12.jg-col-square
				| funk

