html
	head
		title #{title}
		link(rel="stylesheet", href="#{cssSrc}")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
	body
		- var cols = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22];
		- var rows = cols;

		each row in rows
			.jg-row(class='jg-row-' + row)
				each col in cols
					if col <= row
						.jg-col(class="jg-col-l-" + col + " jg-col-m-" + col + " jg-col-s-" + col)
			
				
					
