html
	head
		title #{title}
		link(rel="stylesheet", href="#{cssSrc}")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		meta(name="theme-color" content="#505050")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js", type='text/javascript')
		script(src="/js/wfb.js")
	body(ng-app="wfb" ng-controller="menuController")
		#wfb-wrapper
			.off-canvas(ng-class="{'active': showMenu}")
				| test
			.on-canvas(ng-class="{'active': !showMenu}")
				.jg-row.jg-row-fw.fixed.wfb-fixed-header
					.jg-row.jg-row-8
						.jg-col.jg-col-s-1.wfb-mobile-burger.no-desktop.no-tablet(ng-click="showMenu = !showMenu")
							i(class="material-icons")
								| &#xE5D2;
						.jg-col.jg-col-s-4.wfb-mobile-ci.no-desktop.no-tablet
							img(src="http://s.weltsport.net/bilder/shared/ng_2013/wfb_logo_75x75.png", alt="")

						.jg-col.jg-col-s-1.wfb-choose-country
							img(src="http://s.weltsport.net/gfx/emblem/common/30x30/3412.png", alt="")
						.jg-col.jg-col-s-1.wfb-choose-language
							| DE
						.jg-col.jg-col-s-1.wfb-search
							i(class="material-icons")
								| &#xE8B6;
				.jg-row.jg-row-10.wfb-ci-header.no-mobile
					.jg-col.jg-col-3
						img(src="http://s.weltsport.net/bilder/shared/ng_2013/wfb_logo.png", alt="")
				.jg-row.jg-row-14.jg-row-fw.wfb-ad-content-top
					.jg-col-2
						| test
					.jg-col-10
						img(src="http://placehold.it/728x90", alt="")
					.jg-col-2
						| test 


